body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

canvas {
    margin-right: auto; /* Push canvas to the left */
    margin-bottom: 20px;
    max-width: 600px; /* Set maximum canvas width */
    border: 8px solid rgb(177,156,217); 
    border-radius: 10px; /* Rounded corners */
}

.image-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; /* Limit the width of the wrapper to prevent images from overflowing */
}

img {
    max-width: 200px; /* Adjust maximum width of images */
}



/* Styles for the score window */
.score-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 153, 204); 
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
}

.score-window h2 {
    margin-top: 0;
}

.score-window button {
    margin-top: 10px;   
}

#controls {
    margin-top: -10px; /* Adjust top margin to move the buttons closer */
}

.arrow-btn {
    color: black; /* Set text color */
    background-color: rgb(230, 230, 250); /* Set background color to light lavender */
    border: 2px solid rgb(177, 156, 217); /* Set border color */
    border-radius: 5px; /* Rounded corners */
    width: 30px; /* Set button width */
    height: 30px; /* Set button height */
    font-size: 20px; /* Set font size */
    cursor: pointer; /* Change cursor to pointer on hover */
}



